{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": ["Makefile", "**.mk"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
