:root {
  --fg-default: #f0f6fc;
  --bg-default: #0d1117;
  --border-default: #3d444d;
}


* {
  border: none;
  border-radius: 0;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: var(--bg-default);
  color: var(--fg-default);
  border-bottom: 1px solid var(--border-default);
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window,
#workspaces {
  margin: 0 4px;
}

#cpu,
#memory {
  padding: 0 10px;
  color: #f0f6fc;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}
