@import "themes/macchiato.css";

* {
  color: @text;
  border: none;
  border-radius: 0;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  font-weight: bold;
  background-color: shade(@base, 0.9);
  color: white;
  border: 2px solid alpha(@crust, 0.3);
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window,
#workspaces {
  margin: 0 4px;
}

#cpu,
#memory {
  padding: 4px 10px;
  color: white;
  line-height: 16px;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}
